<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Task2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Task2.Properties.Settings>
            <setting name="VariableCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Formula" serializeAs="String">
                <value>X[0]*X[0] + X[1]*X[1] + X[2]*X[2] + X[3]*X[3] + X[4]*X[4] + X[5]*X[5]</value>
            </setting>
            <setting name="StartPoint" serializeAs="String">
                <value>5; 5; 5; 5; 5; 5</value>
            </setting>
            <setting name="AreaSemiwidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PopulationSize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ChildrenRatio" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="MutationProbability" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MutationOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxRepeatCount" serializeAs="String">
                <value>100</value>
            </setting>
        </Task2.Properties.Settings>
    </userSettings>
</configuration>