<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MusicSyncLib.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MusicSyncLib.WinForms.Properties.Settings>
            <setting name="WindowSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ObservationsCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SplitCoef" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GhostsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompositionName" serializeAs="String">
                <value>All I Ask of You</value>
            </setting>
            <setting name="TempoOnline" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ErrorRatio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateMatrixes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MissedErrorRatio" serializeAs="String">
                <value>0.3333</value>
            </setting>
            <setting name="WrongErrorRatio" serializeAs="String">
                <value>0.3333</value>
            </setting>
            <setting name="ExtraErrorRatio" serializeAs="String">
                <value>0.3333</value>
            </setting>
            <setting name="MinSoundAmplitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempoErrorRatio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempoVariationRatio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Parallel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HmmObservsCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BarCount" serializeAs="String">
                <value>2</value>
            </setting>
        </MusicSyncLib.WinForms.Properties.Settings>
    </userSettings>
</configuration>